.location-card {
  margin-top: 15px;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}
.location-card.mdl-card {
}
.location-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  margin-bottom: 10px;
}
.location-card > .mdl-card__menu {
  color: #fff;
}

main, #location-cards-container {
  padding-bottom: 0;
}

#location-cards-container {
  height: calc(100% - 150px);
  padding-top: 200px;
  padding-bottom: 0;
}
.mdl-card__actions {
  text-align: center;
}

.add-location-button {
  left: -25px;
  width: 40%;
}

.added-location-status {
  width: 40%;
  left: -100%;
  color: white;
}

.mdl-card__title {
    text-shadow: 1px 1px 2px #000000;
}
.info-icon {
  font-size: 1.5em;
  float: left;
  margin-right: 5px;
  clear:both;
}
span.info {
  margin-left: 10px;
}
.info h6 {
  margin-top: 10px;
  margin-left: 0px;
  overflow:auto;
  display:block;
  margin-bottom: 0px;
}
